<section class="flex flex-col p-40 gap-30">
    <section class="flex flex-col gap-20">
      <div class="text-sm">Basic</div>
      <div class="flex items-center gap-10">
        <button mat-button>Basic</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  
    <section class="flex flex-col gap-20">
      <div class="text-sm">Raised</div>
      <div class="flex items-center gap-10">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  
    <section class="flex flex-col gap-20">
      <div class="text-sm">Stroked</div>
      <div class="flex items-center gap-10">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  
    <section class="flex flex-col gap-20">
      <div class="text-sm">Flat</div>
      <div class="flex items-center gap-10">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  
    <section class="flex flex-col gap-20">
      <div class="text-sm">Icon</div>
      <div class="flex items-center gap-10">
        <div class="flex items-center gap-10">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>
  
    <section class="flex flex-col gap-20">
      <div class="text-sm">FAB</div>
      <div class="flex items-center gap-10">
        <div class="flex items-center gap-10">
          <div class="example-button-container">
            <button mat-fab aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab disabled aria-label="Example icon button with a heart icon">
  
            </button>
          </div>
        </div>
      </div>
    </section>
  
    <section class="flex flex-col gap-20">
      <div class="text-sm">Mini FAB</div>
      <div class="flex items-center gap-10">
        <div class="flex items-center gap-10">
          <div class="example-button-container">
            <button mat-mini-fab aria-label="Example icon button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-20">
      <div class="text-sm">Extended Fab</div>
      <div class="flex items-center gap-10">
        <div class="flex items-center gap-10">
          <div class="example-button-container">
            <button mat-fab extended>
              <mat-icon>favorite</mat-icon>
              Basic
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab extended disabled>
              <mat-icon>favorite</mat-icon>
              Disabled
            </button>
          </div>
          <div class="example-button-container">
            <a mat-fab extended routerLink=".">
              <mat-icon>favorite</mat-icon>
              Link
            </a>
          </div>
        </div>
      </div>
    </section>
  
    <mat-slider>
      <input matSliderThumb>
    </mat-slider>
  
  </section>