@use "@angular/material" as mat;
@layer tailwind-base, tailwind-utilities, components;

@layer tailwind-base {
    @tailwind base;
    html,
    body {
        height: 100%;
    }
    body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    html {
        font-size: 10px;
    }
    body {
        @apply text-base;
    }
    button {
        @apply uppercase text-xs;
    }
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    color-scheme: dark;
    @include mat.theme(
        (
            color: mat.$violet-palette,
            typography: (
                plain-family: Roboto,
                brand-family: Open Sans,
                bold-weight: 900,
                medium-weight: 500,
                regular-weight: 300
            ),
            density: 0
        )
    );
}

@layer components {
    :root {
        --mat-sys-body-medium: @apply text-base;
        
        @include mat.button-overrides(
            (
                filled-label-text-size: var(--mat-sys-body-medium),
                outlined-label-text-size: var(--mat-sys-body-mediumn),
                protected-label-text-size: var(--mat-sys-body-medium),
                text-label-text-size: var(--mat-sys-body-medium)
            )
        );
    }
}

@layer components {
    :host {
        background: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
        border: 1px solid var(--mat-sys-outline-variant);
        font: var(--mat-sys-body-medium);
    }
}
